<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>940044980311-psc2j9hu8l42r84kt7gh76mkff5s5r9i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.940044980311-psc2j9hu8l42r84kt7gh76mkff5s5r9i</string>
	<key>API_KEY</key>
	<string>AIzaSyBR9cTuXVQ9hU_wZiXfk1-4q5xX7Ezitms</string>
	<key>GCM_SENDER_ID</key>
	<string>940044980311</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.today.mohae.Mohae</string>
	<key>PROJECT_ID</key>
	<string>mohae-3877a</string>
	<key>STORAGE_BUCKET</key>
	<string>mohae-3877a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:940044980311:ios:91d634e2c9e02088</string>
	<key>DATABASE_URL</key>
	<string>https://mohae-3877a.firebaseio.com</string>
</dict>
</plist>
